annotated-types==0.7.0
asgiref==3.8.1
blinker==1.8.2
certifi==2024.12.14
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.7
cryptography==43.0.3
Django==5.1.4
Flask==3.0.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonpath-ng==1.7.0
llmstack==0.2.6
markdown-it-py==3.0.0
MarkupSafe==3.0.1
mdurl==0.1.2
msgpack==1.1.0
numpy==2.2.2
pandas==2.2.3
pillow==10.4.0
ply==3.11
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-on-whales==0.71.0
pytz==2024.2
redis==5.2.1
reportlab==4.2.5
requests==2.32.3
rich==13.9.4
scikit-learn==1.6.1
scipy==1.15.1
shellingham==1.5.4
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.5.0
toml==0.10.2
tqdm==4.67.1
typer==0.15.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
Werkzeug==3.0.4
tensorflow>=2.0.0
